In [1]:
from selenium import webdriver
import chromedriver_binary
import time
import pandas as pd

driver = webdriver.Chrome()

In [2]:
driver.get('http://www.espn.com/nba/history/awards/_/id/36')

In [6]:
elem = driver.find_element_by_xpath('//*[@id="my-players-table"]/div[1]/div/table/tbody/tr[3]/td[1]')
season = elem.text
season

/var/folders/9g/_t0rc8jx1x39gdxhtwx6q1vw0000gn/T/ipykernel_23259/618360548.py:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  elem = driver.find_element_by_xpath('//*[@id="my-players-table"]/div[1]/div/table/tbody/tr[3]/td[1]')

'2021'

In [10]:
seasons = []
teams = []

for i in range(len(n)):
    elem = driver.find_element_by_xpath('//*[@id="my-players-table"]/div[1]/div/table/tbody/tr[{}]/td[1]'.format(i+3))
    season = elem.text
    seasons.append(season)
    
for i in range(len(n)):
    elem = driver.find_element_by_xpath('//*[@id="my-players-table"]/div[1]/div/table/tbody/tr[{}]/td[4]'.format(i+3))
    team = elem.text
    teams.append(team)

/var/folders/9g/_t0rc8jx1x39gdxhtwx6q1vw0000gn/T/ipykernel_23259/55060938.py:5: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  elem = driver.find_element_by_xpath('//*[@id="my-players-table"]/div[1]/div/table/tbody/tr[{}]/td[1]'.format(i+3))
/var/folders/9g/_t0rc8jx1x39gdxhtwx6q1vw0000gn/T/ipykernel_23259/55060938.py:10: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  elem = driver.find_element_by_xpath('//*[@id="my-players-table"]/div[1]/div/table/tbody/tr[{}]/td[4]'.format(i+3))

In [9]:
n = driver.find_elements_by_class_name('oddrow')
len(n)

/var/folders/9g/_t0rc8jx1x39gdxhtwx6q1vw0000gn/T/ipykernel_23259/4108180810.py:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  n = driver.find_elements_by_class_name('oddrow')

36

In [17]:
mip_seasons = pd.DataFrame(seasons, columns=['season'])

In [18]:
mip_teams = pd.DataFrame(teams, columns=['team'])

In [19]:
mip_df = pd.concat([mip_seasons, mip_teams], axis=1)

In [20]:
mip_df

   season                    team
0    2021         New York Knicks
1    2020    New Orleans Pelicans
2    2019         Toronto Raptors
3    2018          Indiana Pacers
4    2017         Milwaukee Bucks
5    2016  Portland Trail Blazers
6    2015           Chicago Bulls
7    2014            Phoenix Suns
8    2013          Indiana Pacers
9    2012           Orlando Magic
10   2011  Minnesota Timberwolves
11   2010         Houston Rockets
12   2009          Indiana Pacers
13   2008           Orlando Magic
14   2007   Golden State Warriors
15   2006            Phoenix Suns
16   2005             LA Clippers
17   2004  Portland Trail Blazers
18   2003   Golden State Warriors
19   2002          Indiana Pacers
20   2001           Orlando Magic
21   2000          Indiana Pacers
22   1999           Orlando Magic
23   1998           Atlanta Hawks
24   1997              Miami Heat
25   1996      Washington Bullets
26   1995      Philadelphia 76ers
27   1994      Washington Bullets
28   1993          Denver Nuggets
29   1992      Washington Bullets
30   1991           Orlando Magic
31   1990              Miami Heat
32   1989            Phoenix Suns
33   1988  Portland Trail Blazers
34   1987     Seattle SuperSonics
35   1986       San Antonio Spurs

In [21]:
mip_df.to_csv('mip.csv')